# run = "python app.py"
# [nix]
# channel = "stable-24_05"

# [deployment]
# run = ["sh", "-c", "python app.py"]
language = "python3"
run = "python app.py"
modules = ["python-base-3.13"]

[nix]
packages = ["python38Packages.pip"]

[[ports]]
localPort = 5000
externalPort = 80
